body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #005da0;
  background-color: #d5e4ff;
}

h1 {
  font-size: 60px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
input{
  padding: 10px;
  margin: 10px;
  width: 100%;
  border: solid 2px #5987a896;
  border-radius: 10px;
  background-color: #cee5f979;
  color: #005da0b3;
}
input:hover{
  background-color: rgba(189, 218, 244, 0.647);
}
input:focus{
  outline: none;
  border: solid 2px #2b7cb6ae;
}
button{
  padding: 15px;
  margin: 10px;
  border: solid 2px #bacaeb;
  background-color: #c8d6f3;
  border-radius: 10px;
  color: #005da0;
  font-size: 15px;
}
button:hover{
    background-color: #b0d4ee;
    border: solid 2px #2b7cb6ae;
}
::placeholder{
  color: #005da0;
}