body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffe83dde;
  background-color: #106679;
}

h1 {
  font-size: 60px;
}
